{% load static %}
<!-- footer section start -->
<div class="layout_padding footer_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h1 class="quick_text">Contact Us</h1>
                <div class="map_flag"><img src="{%  static 'images/map-flag.png' %}"><span class="padding-left">London 145 United Kingdom</span>
                </div>
                <div class="dolor_text"><img src="{%  static 'images/email-icon.png' %}"><span
                        class="padding-left">artnyr@gmail.com</span></div>
                <div class="dolor_text"><img src="{%  static 'images/phone-icon.png' %}"><span class="padding-left">+12586954775</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->